body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
}

.container {
  position: relative;
  max-width: 420px;
  margin: auto;
  padding: 60px 20px 20px;
}

h1 {
  color: #6a007b;
  text-align: center;
  font-family: 'Arial Black', sans-serif;
  padding-bottom: 20px;
}

button {
  width: 100%;
  padding: 12px;
  margin-top: 20px;
  border: none;
  border-radius: 50px;
  background: #b36fbd;
  color: white;
  font-size: 20px;
  cursor: pointer;
  gap: 10px;
  font-weight: bold;
}

input,
textarea,
select {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-sizing: border-box;
}

.logo-area {
  text-align: center;
  margin-bottom: 25px;
}

.logo-area h1 {
  margin-bottom: 5px;
}

.logo-area p {
  color: #666;
}

.card-menu {
  background: rgb(213, 165, 214);
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 0 2px 8px rgba(0,0,0,.08);
}

.card-menu:hover {
  transform: translateY(-3px);
}

.card-menu h2 {
  margin: 0 0 10px;
  color: #ffffff;
}

.card-menu p {
  margin: 0;
  color: #555;
}

.card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  margin-top: 15px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
}

.card h3 {
  margin-top: 0;
  color: #7b2e8b;
}

.card p {
  margin: 8px 0;
}

.btn-voltar {
  position: absolute;
  top: 20px;
  left: 20px;

  width: auto;
  background: transparent;
  color: #6a007b;
  border: none;

  font-size: 16px;
  font-weight: bold;

  cursor: pointer;

  padding: 8px;
  margin: 0;
}

.btn-voltar:hover {
  color: #b36fbd;
}

.logo {
  width: 120px;
  margin-bottom: 2px;
  padding-bottom: 2;
}